@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark body {
    background-color: #1a1b1d;
}
* {
    transition: all .2s;
}


.nav {
    flex: 0 1 auto
}
.content {
    flex: 1 1 auto
}

.board {
    flex: 1 1 35%
}
/* super lazy, but works.*/
.aspect {
    aspect-ratio: 1/1.25;
}

.wordRowSize {
    height: 20%;
}

@layer components {
    .KeyboardButton {
        @apply cursor-pointer prose dark:prose-invert text-center dark:bg-neutral-900 p-2 border-2 dark:border-zinc-800 rounded-lg shadow-md h-16 flex justify-center items-center px-5
    }
}